---
import MobileMenu from "./MobileMenu.astro";

const menuItems = [
  { name: "About", active: ["", "about", "boop"], href: "/" },
  { name: "Projects", active: ["projects"], href: "/projects" },
  { name: "Journal", active: ["journal"], href: "/journal" },
  { name: "Contact", active: ["contact"], href: "/contact" },
];

const activePage = Astro.url.pathname.split("/")[1];
---

<article
  class="sm:overflow-hidden flex-1 grid w-full max-w-[60rem] sm:grid-cols-[120px,1fr] md:grid-cols-[200px,1fr] sm:rounded-md"
>
  <div class="hidden px-3 py-4 text-gray-100 bg-slate-800/50 sm:block">
    <div aria-hidden="true" class="flex items-center gap-2">
      <div class="w-3 h-3 rounded-full bg-rose-500"></div>
      <div class="w-3 h-3 bg-yellow-500 rounded-full"></div>
      <div class="w-3 h-3 rounded-full bg-cyan-500"></div>
    </div>
    <nav class="mt-4" aria-labelledby="primary-navigation">
      <ul>
        {
          menuItems.map((item) => (
            <li>
              <a
                href={item.href}
                class={
                  item.active.includes(activePage)
                    ? "bg-slate-800/50 p-2 rounded-md block"
                    : "p-2 block"
                }
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <div class="overflow-x-hidden overflow-y-auto text-gray-100 bg-slate-800">
    <MobileMenu activePage={activePage} menuItems={menuItems} />
    <div class="p-6">
      <slot />
    </div>
  </div>
</article>
