---
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💾</text></svg>"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script></script>
  </head>
  <body class="overflow-hidden bg-gradient-to-r from-blue-500 to-violet-900">
    <main
      class="relative flex items-center justify-center w-full max-w-[60rem] min-h-screen p-4 mx-auto"
    >
      <slot />
    </main>
  </body>
</html>
